<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Abrir menú">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand d-flex align-items-center" href="#">
    Tienda <span class="custom-color">APP</span>
    <img src="../../../assets/logo.png" width="40" height="40" class="ms-2" alt="Logo">
  </a>
  <span class="example-spacer"></span>
  <a [routerLink]="['/home']" mat-button>Home</a>
  <a [routerLink]="['/productos']" mat-button>Productos</a>
  <a [routerLink]="['/pago']" mat-button>pago</a>
  <button mat-icon-button class="example-icon" aria-label="Agregar al carrito" [routerLink]="['/carrito']">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>









































<!-- <mat-toolbar  color="primary">
  <button  mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="navbar-brand d-flex align-items-center">Tienda <span class="text-danger">APP</span>
    <img src="../../../assets/logo.png" width="40" height="40" class="ms-2">
  </a>
  <span class="example-spacer"></span>
  <a mat-button>Home</a>
  <a mat-button>Productos</a>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar> -->
