/* Estilos para la tarjeta */
.card {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.card-img-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Estilos para el contenedor */
.contenido {
  margin-top: 20px;
}

/* Estilos para el contenedor en dispositivos medianos y grandes */
@media (min-width: 768px) {
  .contenido {
    padding: 0 15px;
  }
}
