/* Estilos para el contenedor */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para el mensaje de carga */
.container h5 {
  font-size: 24px;
}

/* Estilos para la tarjeta */
.card {
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Estilos para la imagen de la tarjeta */
.card-img-top {
  width: 50%;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 20px;
}

/* Estilos para el título de la tarjeta */
.card-title {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Estilos para el precio de la tarjeta */
.card-body h4 {
  color: green;
}

/* Estilos para la descripción de la tarjeta */
.card-text {
  font-size: 16px;
}
